@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*adiciona a borda e o padding na largura e altura */
}

html{
    font-family: Inter,sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #fff;
}

main{
  background: #06080f;
}

body{
  background: #06080f;
}

#conteiner{
  background: #06080f;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

#login_form{
    background: #111111;
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
    gap: 4rem;
    box-shadow: 2px 2px 5px rgba(179, 194, 199, 0.5) ;
}


#login_button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3aa8d4 0.2em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    font-weight: bold;
    margin: auto;
  }
  
  #login_button:hover {
    background-color: #3aa8d4;
    cursor: pointer;
  }
  
  #login_button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  

  #form_header{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #form_header > h1{
    font-size: 2rem;
  }

  hr{
    border-color: #3aa8d4;
    width: 18%;
    border-radius: 5px;
  }

  #inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .input-box > label{
    font-size: 1rem;
  }

  .input-field{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.188rem;
    cursor: text;
    border-bottom: 1px solid #3aa8d4;
  }

  .input-field > input{
    border: none;
    background: transparent;
    width: 20.25rem;
    font-size: 1.125rem;
    color:#fff;
  }

  .input-field > input:focus{
    outline: none;
  }

  #esqueceu-senha{
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }

  #esqueceu-senha a:hover{
    color: #0aa3e1;
  }
